
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<style type="text/css">
body {
	background-color: black;
	color: red;
}
.container{
	margin:90px;
	padding: 40px;
	background-color: black;
	text-align: center;	
}
#bu1{
height: 50px;
width: 100px;
background-color: black;
color: red;
}
</style>
</head>
<body>
	<div class="container">
	<h2>LOGIN</h2>
		<form action="login" method="post">

			<label>Email Id:</label> 
			<input type="text" name="email"> 
			<br>
			<br> 
			<label>Password:</label> 
			<input  type="text" name="password"> <br>
			<br> 
			<input id="bu1" type="submit" value="LOGIN">

		</form>
	</div>
</body>
</html>