<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
body {
	background-color: black;
	color: red;
}
.container{
	margin:90px;
	padding: 40px;
	background-color: black;
	text-align: center;	
}
#bu1,#bu2{
height: 50px;
width: 100px;
background-color: black;
color: red;
}
</style>
</head>
<body>
<div class="container">
	<h2>Movie Deleted</h2>
	
	<form action="dele-movie">
	<input id="bu1" type="submit" value="DELETE MOVIE">
	</form><br><br>
	<form action="goto-adminhome">
	<input id="bu2" type="submit" value="HOME">
	</form></div>
	
	
</body>
</html>