<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Movie Existed</title>
<style type="text/css">
body {
	background-color: black;
	color: red;
}
.container{
	margin:90px;
	padding: 40px;
	background-color: black;
	text-align: center;	
}
#bu1{
height: 50px;
width: 100px;
background-color: black;
color: red;
}
</style>
</head>
<body>
<div class="containe">
	<h2>Movie is already existed...</h2>
	
	<h2>click below to add another movie</h2>
	
	<form action="add-movie1">
	<input id="bu1" type="submit" value="ADD MOVIE">
	
	</form></div>
</body>
</html>