<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
body {
	background-color:black;
	color:red;
}
.container{

	margin:90px;
	padding: 40px;
	background-color: black;
	text-align: center;	
}

#bt1,#bt2,#bt3,#bt4,#bt5,#bt6{
height: 50px;
width: 100px;
background-color: black;
color: red;
}



</style>
</head>
<body>
<div  class="container">
	<h1>Welcome... ADMIN</h1>
	<br><br>
	<form action="view-user">
	<button id="bt1" type="submit">View Users   </button>
	</form>
	<br><br>
	<form action="dele-user">
	<button id="bt2" type="submit">DeleteUser   </button>
	</form><br><br>
	
	<form action="add-movie">
	<button id="bt4" type="submit">Add Movies</button>
	</form>
	<br><br>
	<form action="view-movie">
	<button id="bt5" type="submit">View Movies</button>
	</form><br><br>
	
	<form action="delete-movie">
	<button id="bt6" type="submit">Delete Movie</button>
	</form>
</div>
	
</body>
</html>