<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Delete User</title>
<style type="text/css">
body {
	background-color: black;
	color: red;
}
.container{
	margin:90px;
	padding: 40px;
	background-color: black;
	text-align: center;	
}
#bu2{
height: 50px;
width: 100px;
background-color: black;
color: red;
}
</style>
</head>
<body>
<div class="container"></div>
	<h2>Delete User:</h2>
	<form action="delete-user" method="post">
	<input  type="text" name="id">
	<br><br>
	<button id="bu2" type="submit">DeleteUser</button>
	</form>
</body>
</html>